/* common shared styles*/
body{
  
    font-family: 'Open Sans', sans-serif;
}
/*nav related css*/
nav {
    display: flex;
}
.nav-title{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}