/* common shared styles*/
body{
  
    font-family: 'Open Sans', sans-serif;
}
/*nav related css*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

#r {
    color: #FD6E0A;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

.button {
border-radius: 5px;
background: #FD6E0A;
border: none;
font-size: 20px;
font-weight: 700;
padding: 15px 35px;
} 

#hire {
    color:  #FFF;
font-size: 20px;
font-weight: 700;
line-height: normal;
}